.App {
  text-align: center;
  background: rgb(55, 181, 119);
  background: linear-gradient(
    95deg,
    rgba(55, 181, 119, 1) 39%,
    rgba(170, 222, 90, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
