.App {
  text-align: center;
  background: rgb(86, 201, 140);
  background: linear-gradient(
    95deg,
    rgba(86, 201, 140, 1) 40%,
    rgba(170, 222, 90, 1) 100%
  );
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  color: white;
}
