.DataNoResults {
  margin: 45px 30px;
}

.DataNoResults img {
  width: 90%;
}

.DataNoResults p {
  text-align: justify;
  line-height: 1.7;
}

.DataNoResults h2 {
  padding: 18px auto;
  line-height: 1.7;
}
