.DisplayResults {
  margin: 15px;
}

.DisplayResults .square {
  border: 2px solid rgb(253, 253, 253);
  background-color: rgb(245, 245, 244);
  color: rgb(20, 18, 18);
  width: 85%;
  border-radius: 0px;
  display: block;
  margin: 15px auto;
  padding: 25px 14px;
}

.DisplayResults .arrows {
  width: 10%;
  min-width: 35px;
  margin: 15px 10px;
  padding: 2px;
}

.DisplayResults h1 {
  margin: 20px 15px;
  padding: 8px;
}

.DisplayResults hr {
  height: 2px;
  background-color: white;
}
