.DisplayResults {
  margin: 15px;
}

.DisplayResults .square {
  color: rgb(255, 255, 255);
  width: 85%;
  border-radius: 0px;
  display: block;
  margin: 12px auto;
}

.DisplayResults .arrows {
  width: 10%;
  min-width: 35px;
  margin: 15px 10px;
  padding: 2px;
}

.DisplayResults h1 {
  margin: 30px 10px 15px 10px;
  padding: 8px;
}

.DisplayResults hr {
  height: 2px;
  background-color: white;
}

.DisplayResults section {
  margin: 10px;
  padding: 10px 0px;
}

.DisplayResults .base-name {
  font-size: 16px;
}

.DisplayResults h3 {
  font-size: 25px;
  margin: 18px 5px;
}

.DisplayResults .objective-name {
  font-size: 24px;
  margin: 25px 5px;
}

.DisplayResults h2 {
  font-size: 35px;
  margin: 20px;
}

@media (max-width: 900px) {
  .DisplayResults h2 {
    font-size: 25px;
    margin: 18px 5px;
  }
}

@media (max-width: 630px) {
  .DisplayResults h2,
  .DisplayResults h3 {
    font-size: 20px;
    margin: 20px 0px;
  }
}
