/*

font-family: 'Quicksand', sans-serif;
*/

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
}

p {
  font-family: "Quicksand", sans-serif;
}
